In [5]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [4]:
try:
    BASEDIR = os.path.abspath(os.path.dirname(__file__))
except NameError:
    BASEDIR = os.getcwd()

DBPATH = os.path.join(BASEDIR, "db.sqlite3")

In [7]:
engine = create_engine("sqlite:///" + DBPATH)

In [10]:
with engine.connect() as conn:
    df = pd.read_sql_table("dados", con=conn)

In [11]:
df.head()

   id  nota_exame_ingles   qi  nota_exame_psicotecnico  admitido
0   1               5.41  115                       54         0
1   2               7.36  105                       77         1
2   3               7.76   96                       62         1
3   4               5.51  112                       51         0
4   5               7.19   97                       47         1